*{
    padding: 0;
    margin: 0;
    
}
body{
background-color: rgb(247, 243, 238);
}
.navbar{
    background-color: rgb(230, 186, 230);
    margin-bottom: 5px;
    
}
.navbar ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: left;


}
.navbar li{
    color: black;
    margin: 10px;
}
.navbar li a{
  text-decoration: none;
  color: rgb(124, 90, 5);
}
.navbar h1{
    color: rgb(191, 56, 11);
    text-align: center;
}
.navbar img{
    align-items: left;
    width: 80px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
}
 h2{
  text-align: center;
}
.border{
  width: 230px;
  height: 5px;
  background: #9b76eb;
  margin: 26px auto;
}
h4{
  text-align: center;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.column{
  width: 22%;
  padding: 10px;
}
.row img{
  border-radius: 50%;
  width: 50%;
}
.name{
  justify-content: left;
}
 h3{
  text-align: left;
  padding: 10px;
  color: rgb(126, 24, 221);
  font-size: 24px;
}
footer{
  background-color: rgb(178, 180, 192);
  color: rgb(20, 20, 22);
  display: flex;
  /* flex-wrap: wrap; */
  flex-flow: row wrap;
  
}
footer h3{
  text-align: left;
  padding-left: 0;
  color: black;
}
.icons{
  display: flex;
  flex-wrap: wrap;
  list-style: none;

}
.icons i{
  padding: 5px;
  font-size: 18px;
  text-align: left;
  list-style: none;
}

.col{
  flex: 33.33%;
  min-width: 33.33%;
  box-sizing: border-box;
  padding: 5px;
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
p{
  padding: 5px;
  margin: 5px;
  font-size: 20px;
}
form{
  margin: 10px;
  
}
form label{
  font-size: 24px;
  color: rgb(13, 13, 14);

}
input[type=text], select, textarea {
  width: 50%; 
  padding: 5px; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 3px;
  margin-left: 5px;
  margin-bottom: 5px;
  resize: vertical 
}
#map{
  width: 50%;
  height: 600px;
  padding: 20px;
  
}
