*{
    padding: 0;
    margin: 0;
}
.navbar{
    background-color: rgb(230, 186, 230);
    margin-bottom: 5px;
    
}
.navbar ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: left;


}
.navbar li{
    color: black;
    margin: 10px;
}
.navbar li a{
  text-decoration: none;
  color: rgb(124, 90, 5);
}
.navbar h1{
    color: rgb(191, 56, 11);
    text-align: center;
}
.navbar img{
    align-items: left;
    width: 80px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
}
 h2{
  text-align: center;
}
.border{
  width: 230px;
  height: 5px;
  background: #9b76eb;
  margin: 26px auto;
}
h4{
  text-align: center;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.column{
  width: 22%;
  padding: 10px;
}
.row img{
  border-radius: 50%;
  width: 50%;
}
 h3{
  text-align: center;
  padding: 10px;
  color: rgb(126, 24, 221);
  font-size: 24px;
}
footer{
  background-color: rgb(167, 179, 246);
  color: blue;
  padding: 3px;
  
}
footer h3{
  text-align: left;
  padding-left: 0;
  color: black;
}
.icons{
  display: flex;
  flex-wrap: wrap;
  

}
.icons i{
  padding: 5px;
  font-size: 18px;
  text-align: left;
  list-style: none;
}
.signup{
display: flex;
justify-content: right;
}
.col{
  width: 60% 40%;
  padding: 5px;
}

.row1{
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}